#quote span{
    display: flex;
    font-size: 20px;
    text-align:center;
    display: block;
    color: lightyellow;
    font-weight: bold;
    padding: 10px;
    
}

#quote{
    padding-top: 10px;
}

